nav {
  padding: 10px;
}

.active {
  color: black !important;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
}

.nav-item {
  padding: 10px;
  font-size: 20px;
  color: grey;
}
